<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Data exploration</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <!-- <link rel="apple-touch-icon" href="icon.png"> -->
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <div class="app-container">
    <div class="controls">
      <button type="button" class="tag-button">Bungalow</button>
      <button type="button" class="tag-button">Detached</button>
      <button type="button" class="tag-button">Flat</button>
      <button type="button" class="tag-button">Maisonette</button>
      <button type="button" class="tag-button">Semi-detached</button>
      <button type="button" class="tag-button">Terraced</button>
      <button type="button" class="tag-button">Triplex</button>
    </div>
    <div class="data">
      <div class="big-plan-container invisible">
        <div class="big-plan"></div>
        <div class="plan-data">
          <button type="button" class="close-button">✕</button>
          <div>
            <ul>
              <li/> Type: XXX
              <li/> Year built: XXXX
              <li/> Total area: XXXm²
              <li/> Conforms to <a href="">XXX Space Standard</a>
              <li/> Similar plans found in the following areas: <a href="">XXX</a>, <a href="">YYY</a>, <a href="">ZZZ</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="js/vendor/modernizr-3.11.2.min.js"></script> -->
  <!-- <script src="js/plugins.js"></script> -->
  <script src="js/main.js"></script>

</body>

</html>
